:root {
    --fondo: #e4e3d3;
    --fuente: #023047;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body {
    color: var(--fuente);
    background-color: var(--fondo);    
    font-size: 1.1em;
}

#menu {
    font-size: 0.5em;
    background-color: blueviolet;
    float: right;
    margin: -40px 80px 0 0;

}

header {
    width: 50%;
    margin: 2em auto 0 auto;
    text-align: center;
}


h2 {
    font-size: 2em;
    font-weight: 100;
}

span {
    font-weight: 300;
}

p {
    margin-top: 2px;
    font-size: 0.7em;
    font-weight: 300;
} 

.div {
    padding-top: 5px;
}

.div1 {
    display:flex;
    justify-content:center;
    align-items:center;
    border-bottom: 1px solid var(--fuente);   
}

.div2 {
    display:flex;
    justify-content: center;
} 

div.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4em;
}

.bio {
    text-align: center;
    width: 60%;
    border-left: 1px solid var(--fuente);
    border-top: 1px solid var(--fuente);
    margin: 4em auto 0 auto;
    padding: 15px 10px 40px 20px;
    
}

div.card {
    color: var(--fuente);
    padding: 7px;
    margin-top: 20px;
    padding: 15px 10px 40px 20px;
    border-left: 1px solid var(--fuente);
    border-top: 1px solid var(--fuente);
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer { 
    width: 50%;
    margin: 2em auto 0 auto;
    text-align: center;
    border-top: 1px var(--fuente) solid;
    padding: 1em;
    font-size: 0.55rem;
    font-weight: 300;
    margin-top: 200px;
}

footer p {
    font-size: 1.1em;
}

a {
    text-decoration: none;
    color: var(--fuente);
    margin: 10px 38px;
}

a:hover {
     font-weight: 400;    
}

div.card:hover {
    color: var(--fondo);
    background-color: var(--fuente);
}

div.bio:hover {
    color: var(--fondo);
    background-color: var(--fuente);
}

@media(max-width: 918px) {
    div.container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px;
    }

    a {
        margin: 10px 20px;
    }

}

@media(max-width: 569px) {
    div.container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px;
    }

    a {
        margin: 10px 10px;
    }
}

@media (prefers-color-scheme: dark) {
    body{
        color: var(--fondo);
        background-color: var(--fuente);    
    }
    .div1 {
        border-bottom: 1px solid var(--fondo);   
    }
    
    .bio {
        border-left: 1px solid var(--fondo);
        border-top: 1px solid var(--fondo);
    }
    
    div .card {
        color: var(--fondo);
        border-left: 1px solid var(--fondo);
        border-top: 1px solid var(--fondo);
    }
    
    footer {
        border-top: 1px var(--fondo) solid;
    }
    
    a {
        text-decoration: none;
        color: var(--fondo);

    }

    div.card:hover {
        color: var(--fuente);
        background-color: var(--fondo);
    }
} 