* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: rgba(65, 44, 148, 0.878);
    background-color: #e4e3d3;
    
}

h1 {
    font-weight: 200;
    border-bottom: 1px rgba(65, 44, 148, 0.878) solid; 
    text-align: center;
    
}

span {
    font-weight: 400;
}

p {
    margin-top: 2px;
    font-size: 0.8em;
    text-align: inherit;
    align-items: left;
}

div {
    display:flex;
    justify-content:center;
    align-items:center;
    
    
    
}

a {
    text-decoration: none;
    color: rgba(65, 44, 148, 0.878);
    
}