* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    color: #023047;
    background-color: #e4e3d3;    
}

header {
    width: 50%;
    margin: 2em auto 0 auto;
    text-align: center;
}

h2 {
    font-size: 2em;
    font-weight: 100;
}

span {
    font-weight: 300;
}

p {
    margin-top: 2px;
    font-size: 0.7em;
    font-weight: 300;
} 

.div {
    padding-top: 5px;
}

.div1 {
    display:flex;
    justify-content:center;
    align-items:center;
    border-bottom: 1px solid #023047;   
}

.div2 {
    display:flex;
    justify-content: center;
} 

div.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid #023047;
    border-top: 1px solid #023047;
    margin: 50px 100px;
    padding: 7px;
}

div.card {
    color: #023047;
    padding: 7px;
    margin-top: 50px;
    border-left: 1px solid #023047;
    border-top: 1px solid #023047;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer {
    font-size: 0.6em;
    border-top: 1px solid #023047;
    margin-top: 300px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #023047;
    margin: 10px 38px;

}

a:hover {
     font-weight: 400;    
}

div.card:hover {
    color: #e4e3d3;
    background-color: #023047dd;
}

@media(max-width: 757px) {
    div.container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px;
    }

    a {
        margin: 10px 20px;
    }

}